@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (min-width: 768px) {
    html {
        font-size: 6px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #EDEDED;
}

#scroll {
    top: calc(50% - 60px);
    left: calc(50% - 51px);
}

@keyframes transitionFromTop {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

#scroll-to-discover {
    animation: 2s ease-out 0s 1 transitionFromTop;
}

@keyframes transitionFromBottom {
    from {
        opacity: 0;
        transform: translateY(50%);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

#scroll-arrow{
    animation: 2s ease-out 0s 1 transitionFromBottom;
}

#work-index {
    width: 56.375rem;
}

.box-container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 27.875rem;
}

#liner-web {
    height: 20.25rem;
}

#liner-be {
    height: 20.25rem;
}

#personal-website {
    height: 7.8125rem;
}

#quantcash {
    height: 29.5rem;
}

#hybrid-location-manager {
    height: 19.75rem;
}