@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

@media screen and (min-width: 640px) {
    html {
        font-size: 6px;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 8px;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 16px;
    }
}

body {
    background-color: #EDEDED;
}

#liner-web-item {
    background-image: url('/images/liner-web-item.svg');
}

#liner-be-item {
    background-image: url('/images/liner-be-item.svg');
}

#quantcash-item {
    background-image: url('/images/quantcash-item.svg');
}

#work-list {
    animation: 0.5s ease-out 0s 1 transitionFromBottomWorkList;
}

#home-greeting {
    animation: 0.5s ease-out 0s 1 transitionFromBottom;
}

#work-container {
    animation: 0.5s ease-out 0s 1 transitionFromBottom;
}

@media screen and (max-width: 415px) {
    #work-list {
        height: auto;
        width: 90%;
    }
    
    .item-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 90%;
        min-height: 6rem;
        max-height: auto;
    }
    
    #show-more {
        height: 2.9375rem;
    }
}

@media screen and (min-width: 416px) and (max-width: 639px) {
    #work-list {
        height: auto;
        width: 80%;
    }
    
    .item-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 80%;
        min-height: 8rem;
    }
    
    #show-more {
        height: 2.9375rem;
    }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
    #work-list {
        height: auto;
        width: 90%;
    }
    
    .item-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        height: 15rem;
        width: 90%;
    }
    
    #show-more {
        height: 10rem;
    }
}

@media screen and (min-width: 768px) {
    #work-list {
        height: 500px;
        width: 550px;
    }

    .item-container {
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
        width: 435px;
        height: 125px;
    }

    #show-more {
        height: 2.9375rem;
        width: 435px;
        height: 55px;
    }
}

#scroll {
    top: calc(50% - 60px);
    left: calc(50% - 51px);
}

@keyframes transitionFromTop {
    from {
        opacity: 0;
        transform: translateY(-50%);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

#scroll-to-discover {
    animation: 2s ease-out 0s 1 transitionFromTop;
}

@keyframes transitionFromBottomWorkList {
    from {
        opacity: 0;
        transform: translateY(10%);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes transitionFromBottom {
    from {
        opacity: 0;
        transform: translateY(20%);
    }
    to   {
        opacity: 1;
        transform: translateY(0);
    }
}

#scroll-arrow{
    animation: 2s ease-out 0s 1 transitionFromBottom;
}

.about-me {
    animation: 1s ease-out 0s 1 transitionFromBottom;
}

#work-index {
    width: 56.375rem;
}

@media screen and (min-width: 640px) {
    #work-container {
        height: 49.875rem;
        width: 56.725rem;
    }
}

.box-container {
    background-size: contain;
    background-repeat: no-repeat;
    width: 24.8125rem;
}

#liner-web {
    height: 18rem;
    background-image: url('/images/liner-web.svg');
}

#liner-be {
    margin-top: 10px;
    height: 18.1rem;
    background-image: url('/images/liner-be.svg');
}

#personal-website {
    margin-top: 10px;
    height: 7.1rem;
    background-image: url('/images/pw-work.svg');
}

#quantcash {
    margin-top: 10px;
    height: 26.125rem;
    background-image: url('/images/quantcash-work.svg');
}

#hybrid-location-manager {
    margin-top: 10px;
    height: 17.625rem;
    background-image: url('/images/hlm-work.svg');
}

@media screen and (min-width: 640px) {
    .box-container {
        background-size: contain;
        background-repeat: no-repeat;
        width: 27.875rem;
    }

    #liner-web {
        margin-top: 0px;
        height: 20.25rem;
        background-image: url('/images/liner-web.svg');
    }

    #liner-be {
        margin-top: 0px;
        height: 20.25rem;
        background-image: url('/images/liner-be.svg');
    }

    #personal-website {
        margin-top: 0px;
        height: 7.8125rem;
        background-image: url('/images/pw-work.svg');
    }

    #quantcash {
        margin-top: 0px;
        height: 29.5rem;
        background-image: url('/images/quantcash-work.svg');
    }

    #hybrid-location-manager {
        margin-top: 0px;
        height: 19.75rem;
        background-image: url('/images/hlm-work.svg');
    }
}